/Shortest path/CheckinQueue/nbproject/private/
/Sort/SelectionSort/nbproject/private/
/Sort/SelectionSort/build/
/Sort/InsertSort/nbproject/private/
/Sort/InsertSort/build/
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
out/
.idea
*.iml
out
gen